<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegador Pagina</title>
</head>

<body>
    <header>
        <div class="header-content">

            <div class="logo">
                <h1>Star <b>Wars</b></h1>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li class="menu-selected"><a href="#" class="text-menu-selected">Peliculas</a></li>
                        <li><a href="#">Personajes</a></li>
                        <li><a href="#">Naves</a></li>
                        <li><a href="#">Planetas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


</body>

</html>