<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Web</title>
</head>

<body>
    <div id="principal">
        <header>
            <div id="logo">
                <h2>Star Wars</h2>
                <p>La fuerza estará ya contigo...</p>
            </div>

            <nav class="menu">
                <ul>
                    <li> <a href=""> Planetas </a> </li>
                    <li> <a href=""> Vehículos </a> </li>
                    <li> <a href=""> Naves </a> </li>
                    <li> <a href=""> Personajes </a> </li>
                    <li> <a href=""> Películas </a> </li>
                </ul>
            </nav>
        </header>
    </div>
</body>

</html>