<!DOCTYPE html>
<html lang="en" ng app>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegador Pagina</title>
</head>

<body>
    <header>
        <div class="header-content">

            <div class="logo">
                <h1>Star <b>Wars</b></h1>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a class="menu-selected" routerLinkActive="active" [routerLink]="['/']" class="text-menu-selected">Home</a></li>
                        <li><a class="menu-selected" routerLinkActive="active" [routerLink]="['/film']" class="text-menu-selected">Peliculas</a></li>
                        <li><a class="menu-selected" routerLinkActive="active" [routerLink]="['/character']" class="text-menu-selected">Personajes</a></li>
                        <li><a class="menu-selected" routerLinkActive="active" [routerLink]="['/spaceship']" class="text-menu-selected">Naves</a></li>
                        <li><a class="menu-selected" routerLinkActive="active" [routerLink]="['/planet']" class="text-menu-selected">Planetas</a></li>
                        <li><a class="menu-selected" routerLinkActive="active" [routerLink]="['/specie']" class="text-menu-selected">Especies</a></li>
                        <li><a class="menu-selected" routerLinkActive="active" [routerLink]="['/vehicle']" class="text-menu-selected">Vehiculos</a></li>
                    </ul>
                </nav>
            </div>

            <div id="ctn-icon-search">
                <fa-icon [icon]="faSearch" id="icon-search"></fa-icon>
            </div>

        </div>
    </header>

</body>

</html>